body {
    margin: 0;
    width: 100%;
    height: 100%;

}

.mode-label {
    margin: 7px;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    width: 140px;
    min-height: 100px;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    color: #000;
    line-height: 1.5;
    background-color: #ccc;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
}


.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    font-size: 20px;
    /* color:#f00 ; */
    /* background: rgba( 0, 0, 0, .6 ); */
}

.info-type-one{
    width: 120px;
    height: 30px;
    border: 1px solid #EEE;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}
.info-panel-triple{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: hsla(0,0%,6%,.6);
    position: absolute;
    left: 16px;
    top: -16px;
}
.info-panel-content{
    display: inline-block;
    position: relative;
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    background-color: hsla(0,0%,6%,.6);
    color: #FFF;
    text-align: left;
    padding-left: 15px;
    padding-right: 12px;
    border-radius: 3px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}